{% extends 'layout.html' %} 
{% block body %} 
<div class="col-md-4 offset-md-4">
        <div class="card card-body">
                <form action="/actualizarContacto/{{contacto.0}}" method="POST"> 
                    <div class="form-goup">
                            <input type="text" name="nombre" placeholder="Nombre" value={{contacto.1}} class="form-control">
                    </div>
                    <div class="form-goup">
                            <input type="text" name="telefono" placeholder="Telefono" value={{contacto.2}} class="form-control">
                    </div>
                    <div class="form-goup">
                            <input type="text" name="email" placeholder="Email" value={{contacto.3}} class="form-control">
                    </div>
                    <div class="form-goup">
                            <button type="submit" class="btn btn-success btn-block">Actualizar contacto</button>
                    </div>                                     
                </form>
        </div>
</div>

{% endblock %}